/*-------------------- generic -------------------------------*/

* {
    cursor: url("../images/pigeoncurs.png"), auto;
}

body {
    background-color: #e4f6f8;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
}

.highlighted-text {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    line-height: 1.3;
}

.bottom-page-paragraph {
    margin-bottom: 70px;
}

/*---------------------------navbar---------------------------*/

.nav-main-logo {

    font-weight: 600;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}


.nav-menu-item a {
    color: #000;
    padding: 2px;
}

.nav-menu-item a:hover {
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    color: #000;
    font-size: 25px;
}


.list-inline {
    text-align: center;
    font-size: 22px;

}



/*------------------- home page ----------------*/

.photo {
    background: url("../images/mate-eddie-brett-forest-guitar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 357px;
    margin-top: 30px;
}


/*-----------------------------music page---------------------*/

.content {
    padding-top: 35px;
    padding-bottom: 80px;
}

img {
    width: 100%;
    height: auto;
}

.youtube-clicker {

    background-color: white;
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;

}

.youtube-clicker:hover {
    background-color: red;
    color: white;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/*------------------- games page -----------------*/

.game-logo {
    width: 280px;
    height: 280px;
}

.game-logo:hover {
    filter: invert(100%);
}
/*------------------- merch page -----------------*/

.photo3 {
    background: url("../images/mate-eddie-brett-merch-page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 357px;
    margin-top: 30px;
}


/*--------------------contact page ---------------------------*/

.photo2 {
    background: url("../images/mate-eddie-brett-drinking-tea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 357px;
    margin-top: 30px;
}

.center-form {
    text-align: center;

}

input[type="text"] {
    width: 50%;
}

textarea {
    width: 100%;
}

.btn {
    background-color: #d3d3d3;
    margin-top: 10px;
    margin-bottom: 90px;
    border: 1px solid #3d3d3d;


}

.btn:hover {
    background-color: #909090;
}



/*------------------------------- media queries-----------------------------*/

/*---------------(desktop) 992px and over -------------------*/

@media (min-width:992px) {


    .social-links {
        text-align: right;
        margin-right: 30px;
    }


}


/*--------------------- 991px and under (tablet and mobile) -------------*/

@media only screen and (max-width: 991px) {

    .social-links {
        padding-top: 10px;
    }

    .hide-video {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
    }


    .col-md-6,
    .col-sm-12,
    .artwork {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    
    .game-logo {
    width: 50%;
    height: 50%;
}

.list-inline {
    text-align: center;
    font-size: 20px;}

.nav-menu-item a:hover {
    
    font-size: 20px;
}

}



/*--------------- device bigger than 1024 under 1106 (will hide on tablet) ------------------*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1106px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .hide-video {
        display: none;
    }

    iframe {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 994px;
        height: 500px;

    }
}


/*------------------------- footer ---------------*/

footer {
    margin-top: 20px;
    background-color: #333333;
    color: #fafafa;
    position: fixed;
    bottom: 0;
    width: 100%;

}


.social-links {
    padding-top: 10px;
    position: relative;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #6f6f6f;
    transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}

.social-links li a i:hover {
    filter: invert(100%);

}
